@mixin padding-xy($x,$y){
	padding-top:$y;
	padding-bottom: $y;
	padding-left:$x;
	padding-right:$x;
}
@mixin gradient-bg($color1,$color2,$color3){
	background: $color1;
	@if $color3{
		background: linear-gradient(90deg, $color1 0%, $color2 35%, $color3 100%);
	}@else{
		background: linear-gradient(90deg, $color1 0%, $color2 100%);
	}
}