.navbar{
	background-color:$Green;
	.navbar-list{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		@include gradient-bg($primary-color,$secondary-color,null);
		.navbar-list-item{
			display: inline-block;
			$navbar-padding-x: $padding-x+5;
			$navbar-padding-y: $padding-y;
			@include padding-xy($navbar-padding-x,$navbar-padding-y);
			font-family: 'Sanchez';
			font-size: $font-size-base*0.8;
			.navbar-list-item:hover{
				font-size: $font-size-lg;
				color:$accent-color;
			}
		}
	}
}