
$Red: rgb(224, 100, 176);
$Green: #64E0BA;
$Blue: rgb(18, 171, 231);
$White: whitesmoke;

$primary-color: $Green;
$secondary-color: lighten($Blue, 10%);;
$accent-color: darken($Red, 20%);
$color: black;
$border-bottom-color: lighten($secondary-color, 10%);
$border-radius: 5rem;
$body-bg: $White;
$font-size-base: 1.2rem;
$font-size-lg: 1.2rem * 1.25;
$padding-x: 5rem;
$padding-y: 5rem;