@import "_variables.scss";
@import "_mixin.scss";
@import "_navbar.scss";
@import "_components.scss";
@import "_footer.scss";



body {
  background-color: $White;
 }

a {
  text-decoration: none;  
  transition: all 0.2s ease-in-out;
}
