.navbar {
  background-color: #64E0BA; }
  .navbar .navbar-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #64E0BA;
    background: linear-gradient(90deg, #64E0BA 0%, #3cbdf0 100%); }
    .navbar .navbar-list .navbar-list-item {
      display: inline-block;
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 10rem;
      padding-right: 10rem;
      font-family: 'Sanchez';
      font-size: 0.96rem; }
      .navbar .navbar-list .navbar-list-item .navbar-list-item:hover {
        font-size: 1.5rem;
        color: #b92580; }

body {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.portada, .contenedor, .subcontenedor {
  color: black;
  font-size: 1.5rem;
  width: 90%;
  font-family: 'Montserrat';
  background-color: #9bddf7; }

.contenedor, .subcontenedor {
  margin: auto; }

.subcontenedor {
  font-size: 1.05rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem; }

.seccion_articulo {
  font-family: 'Montserrat';
  border: 5rem solid #6bcdf4;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 3rem 0 3rem; }
  .seccion_articulo img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5rem;
    padding-right: 5rem; }
  .seccion_articulo .seccion_articulo-titulo {
    font-size: 1.2rem; }
  .seccion_articulo .seccion_articulo-cuerpo {
    font-size: 0.84rem; }

footer {
  font-family: 'Rock Salt';
  bottom: 0; }

body {
  background-color: whitesmoke; }

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

/*# sourceMappingURL=style.css.map */
